.button {
    padding: 10px 12px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Poppins';
}
.feedback-button {
    color: #34C94B;
    background: #121212;
    border: 1px solid #121212;
    border-radius: 8px;
}
.collapse-button {
    color: #34C94B;
    background: none;
    border: none;
}